body {
     background: repeat-x top #ffffff;
}

#header {
     background: #38011e;
}

#footer {
     background: #38011e;
}
                     
#audio-panel {
     background-color: #38011e;
}

#subjectPlayer {
     background-color: #38011e;
}